<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Household Api Consumer Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: lavenderblush;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.Cookies.Get("LoginCookieForHouseholdApi") != null)
                    {
                        <li>
                            <a href="javascript:document.getElementById('logout-form').submit();" class="logout-button">Logout</a>
                        </li>
                        <li>@Html.ActionLink("Households", "ViewHouseholds", "HouseholdApiHouseholds")</li>
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "HouseholdApiAccounts")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "RegisterApiConsumer", "HouseholdApiAccounts")</li>
                        <li>@Html.ActionLink("Login", "LoginApiConsumer", "HouseholdApiAccounts")</li>
                    }
                </ul>
                <form id="logout-form" method="post" action="@Url.Action("LogoutApiConsumer", "HouseholdApiAccounts")"></form>




                @*<a class="btn invite-member-button" data-toggle="modal" href="#loginModal" onclick="LoginContentFetcher()">Login</a>*@

                <!-- Modal -->
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<h5 class="modal-title" id="exampleModalLabel">Login</h5>*@
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                @*<button type="button" class="btn btn-primary">Save changes</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 20px">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - My Household Api Consumer Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    @*<script>
            $(function () {
                $(".logout-button").on('click', function (e) {
                    e.preventDefault();
                });
            });
        </script>*@

    @*<script>
        function LoginContentFetcher() {
            return fetch('../../@Url.Action("LoginApiConsumer", "HouseholdApiAccounts")', {
                method: "Get"
            }).then(
                function(response) {
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' +
                            response.status);
                        return;
                    }
                    //console.log(response);

                    response.text().then(function (data) {
                        //console.log(data);
                        DomAdder(data, ".modal-body");
                    });
                }
            )
            .catch(function (err) {
                    console.log('Fetch Error :-S', err);
            });
        }




        function DomAdder(receivedElement, targetElementName) {
            var domelement = document.querySelector(targetElementName);
            domelement.innerHTML = "";
            return domelement.insertAdjacentHTML('afterbegin', receivedElement);
        }
    </script>*@
</body>
</html>
