@model ChangePasswordBindingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Forgot password reset</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Reset password</h3>
                            <div class="form-group">
                                @Html.LabelFor(p => p.OldPassword, new { @class = "text-info" })
                                @Html.PasswordFor(p => p.OldPassword, new { id = "username", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.NewPassword, new { @class = "text-info" })
                                @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.ConfirmPassword, new { @class = "text-info" })
                                @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control" })
                            </div>                            
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
