@model ForgotPasswordResetViewModel

@{
    ViewBag.Title = "ForgotPasswordReset";
    Layout = null;
}

@if (ViewBag.HasErrored == true)
{
    <div>
        <p>There was a problem resetting the password. Please try again</p>
        <p>@ViewBag.ResponseMessage</p>
    </div>
}






<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Forgot password reset</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Reset password</h3>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Email, new { @class = "text-info" })
                                @Html.TextBoxFor(p => p.Email, new { id = "username" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.Password, new { @class = "text-info" })
                                @Html.PasswordFor(p => p.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(p => p.ConfirmPassword, new { @class = "text-info" })
                                @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div>
                                @Html.HiddenFor(p => p.Code)
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
