@model BankAccountViewModel

@{
    ViewBag.Title = "ViewBankAccount";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#transactions-table').DataTable();
        });
    </script>
}

<h2>View Bank Account</h2>

@if (ViewBag.HasErrored != null)
{
    <p style="color: red">Something's not right. Please try again</p>
}
else
{

    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-sm-6 col-6 col-md-6">
                    <p><span style="font-weight: bold">Name:</span> @Model.Name</p>
                    <p><span style="font-weight: bold">Description:</span> @Model.Description</p>
                    <p><span style="font-weight: bold">Created:</span> @Model.DateCreated</p>
                    @if (Model.DateUpdated != null)
                    {
                        <p><span style="font-weight: bold">Updated:</span> @Model.DateUpdated</p>
                    }
                    <p><span style="font-weight: bold">Balance:</span> $@Model.Balance</p>
                    <p><span style="font-weight: bold">Household:</span> @Model.HouseholdName</p>
                </div>
                <div class="col-lg-6 col-xl-6 col-sm-6 col-6 col-md-6">
                    @if (ViewBag.UserIsOwner != null && ViewBag.UserIsOwner == true)
                    {
                        <form method="post" action="@Url.Action("UpdateBankAccountBalance", "HouseholdApiBankAccounts", new { bankAccountId = Model.Id, householdId = Model.HouseholdId })">
                            <button type="submit">Update Balance</button>
                        </form>


                        <a href="@Url.Action("EditBankAccount", "HouseholdApiBankAccounts", new { householdId = Model.HouseholdId, bankAccountId = Model.Id })">Edit</a>

                        <form method="post" action="@Url.Action("DeleteBankAccount", "HouseholdApiBankAccounts", new { bankAccountId = Model.Id, householdId = Model.HouseholdId })">
                            <button type="submit">Delete</button>
                        </form>
                    }
                </div>
            </div>
        </div>

        @if (TempData["NoSuchTransactionAndDeleteFailed"] != null)
        {
            <p style="color: red;">Delete transaction failed!</p>
        }

        <div>
            @{ Html.RenderAction("ViewTransactions", "HouseholdApiTransactions", new { householdId = Model.HouseholdId, bankAccountId = Model.Id }); }
        </div>
    </div>

}